<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stark.mypratice">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPratice">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlgorithmActivity"/>

        // IPC Demo
        <service
            android:name=".ipcdemo.ServiceInMain"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ipcdemo.ServiceInProcess"
            android:enabled="true"
            android:exported="true"
            android:process=":serviceInProcess" />

        <activity android:name=".ipcdemo.ServiceInProcessActivity" />
        <activity android:name=".ipcdemo.BinderPoolActivity" />
        <activity android:name=".ipcdemo.ServiceInMainActivity" />
        <activity android:name=".ipcdemo.IPCDemoActivity" />

        <service
            android:name=".ipcdemo.BinderPoolService"
            android:enabled="true"
            android:exported="false"
            android:process=":binderPoolService"></service>

        // View Event Demo
        <activity android:name=".viewevent.ViewEventActivity" />
        <activity android:name=".viewevent.ViewSlideActivity" />
        <activity android:name=".viewevent.ThreeWaySlideActivity" />
        <activity android:name=".viewevent.ElasticSlidingActivity" />
        <activity android:name=".viewevent.CustomViewActivity" />
        <activity android:name=".viewevent.HorizontalScrollViewActivity"></activity>
        <activity android:name=".viewevent.HorizontalScrollView2Activity"></activity>

    </application>

</manifest>